.profile-header nav#logo {
    background: transparent;
    box-shadow: none;
}

.profile-header nav#logo>div>ul li a {
    color: #ffffff;
}

.profilePage {
    padding-top: 0px
}

.profilePage .card.large {
    height: 80%;
}

.profilePage .card .card-image {
    height: 100%;
    max-height: 80%;
}

.profilePage .card-image .user-info {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 14px 10px;
    background: rgba(0, 0, 0, .5);
    color: #ffffff;
}

.profilePage .card {
    box-shadow: initial;
}

.profilePage .bottom-container {
    position: fixed;
    bottom: 0px;
    width: 100vw;
}

.profilePage span.no-image {
    font-size: 30em;
}