<div class="modal-overlay" {style}="{'display':'block','opacity': '0.5','z-index': overlayZIndex}"></div>
<div {class}="'modal '+ modal.customClass" {style}="styles">
  <div class="modal-content">
    <h5 class="modal-title">${modal.title}</h5>
    <div class="modal-body">
      <div attr-innerHTML="modal.template"></div>
      <div *for="(idx,btn) of modal.buttonLabels">
        <h6 class="center-align blue-text" @click="modal.trigger(idx)">${btn}</h6>
        <div class="divider"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat" @click="$close()" *if="!modal.buttons || modal.showCloseBtn">Close</button>
    <button type="button" class="modal-action waves-effect waves-green btn-flat" attr-class="btn.class" @click="customTrigger(btn)" *for="btn of modal.buttons" {disabled}="btn.isProcessing">${:btn.title}</button>
  </div>
</div>