<div class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow navbar-expand-lg">
  <div class="w-100 p-2 clearfix">
    <a class="navbar-brand p-0 m-0 me-2" @click="closeActivity()" type="button"><span class="bi bi-arrow-left"></span></a>
    <a class="navbar-brand" href="#/">${pageTitle}</a>
    <div class="float-end">
    <!-- <a :openIntent="settings.filters" class="float-end navbar-brand p-0 m-0">
      <span class="bi bi-funnel"></span>
    </a> -->
    <j-place></j-place>
    </div>
  </div>
</div>