<div class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow navbar-expand-lg">
  <div class="w-100 p-2 clearfix">
    <a class="navbar-brand" href="#/">${appName}</a>
    <div class="float-end">
      <a :openIntent="settings.filters" {params}="userInfo" class="navbar-brand p-0 me-2" *if="userInfo.privacy.available">
        <span class="bi bi-funnel"></span>
      </a>
      <a class="navbar-brand p-0 m-0" *if="!barIsVisible" @click="openMenu=!openMenu" type="button"> 
        <span class="bi bi-list"></span> 
      </a>
    </div>
  </div>
</div>
<div class="ui-PageMenuContainer" {class}="{'is-open': openMenu}">
  <app-menu {userInfo} {isAuthenticated} @onMenuClicked="performAction($event)"></app-menu>
</div>