<div class="text-center">
  <small>Tell us why you are sending this report.</small>
</div>
<div class="p-3">
  <fo-radio-button name="type" type="native" @onValueChanged="modalData.type=$event">
    <radio-item value="0" label="Sexual harassment"></radio-item>
    <radio-item value="1" label="Inappropriate Messages"></radio-item>
    <radio-item value="2" label="Inappropriate Photos"></radio-item>
    <radio-item value="3" label="User is underage"></radio-item>
    <radio-item value="4" label="Spamming / adveritsement"></radio-item>
    <radio-item value="5" label="Other harassment"></radio-item>
    <radio-item value="6" label="Other"></radio-item>
  </fo-radio-button>
  <textarea data-length="120" @{:model}="modalData.other" *if="modalData.type > 4" class="form-control mt-3" placeholder="Enter other reasons"></textarea>
  <div class="row mt-3">
    <button class="btn btn-primary btnsubmit" @click="sendReport()" {disabled}="isSending">Send report</button>
  </div>
  <div class="alert alert-danger mt-3" *if="isError">Unable to file report, please try again later.</div>
</div>
