<div class="bnPlayMaker">
  <div class="row">
    <div class="col-4 center" :openIntent="visitors">
      <span class="fa-stack fa-2x">
                  <i class="fa fa-eye fa-stack-1x"></i>
              </span> Visitors <span class="new badge red" *if="notif.visitors">${notif.visitors}</span>
    </div>
    <div class="col-4 center" :openIntent="likes">
      <span class="fa-stack fa-2x">
          <i class="fa fa-heart fa-stack-1x"></i>
      </span> Likes <span class="new badge red" *if="notif.likes">${notif.likes}</span>
    </div>
    <div class="col-4 center" :openIntent="interest">
      <span class="fa-stack fa-2x">
          <i class="fa fa-star fa-stack-1x"></i>
      </span> Interest <span class="new badge red" *if="notif.favorites">${notif.favorites}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-4 center" :openIntent="addFriends">
      <span class="fa-stack fa-2x">
          <i class="fa fa-user-plus fa-stack-1x"></i>
      </span> Add Friends
    </div>
    <div class="col-4 center" :openIntent="manageCoins">
      <span class="fa-stack fa-2x">
          <i class="fa fa-coins fa-stack-1x"></i>
      </span> Coins <span class="new badge red" *if="notif.coins">${notif.coins}</span>
    </div>
    <div class="col-4 center" :openIntent="settings.profile:userInfo">
      <span class="fa-stack fa-2x">
          <i class="fa fa-user-edit fa-stack-1x"></i>
      </span> Profile
    </div>
    <div class="col-4 center" :openIntent="settings.privacy:userInfo">
      <span class="fa-stack fa-2x">
          <i class="fa fa-user-secret fa-stack-1x"></i>
      </span> Privacy
    </div>
    <div class="col-4 center" :openIntent="blockedUsers:userInfo">
      <span class="fa-stack fa-2x">
          <i class="fa fa-user-slash fa-stack-1x"></i>
      </span> Blocked Users
    </div>
  </div>
</div>
<div class="bottomMenu">
  <div class="row">
    <div class="col text-center" @click="logoutUser()">
      <span class="fa-stack fa-lg blue-text">
              <i class="fa fa-sign-out-alt fa-stack-1x"></i>
          </span>Logout
    </div>
    <div class="col text-center" :openIntent="settings.changePassword:userInfo">
      <span class="fa-stack fa-lg blue-text">
              <i class="fa fa-key fa-stack-1x"></i>
          </span>Change Password
    </div>
    <div class="col text-center" @click="hideAccount()">
      <span class="fa-stack fa-lg  green-text">
                <i class="fa fa-pause fa-stack-1x"></i>
            </span>Pause Account
    </div>
    <div class="col text-center" @click="deleteAccount()">
      <span class="fa-stack fa-lg red-text">
                  <i class="fa fa-user-times fa-stack-1x"></i>
              </span>Deactivate Account
    </div>
  </div>
</div>