<div class="bnPlayMaker d-flex align-items-center" @click-delegate:a="onMenuClicked.emit(menu)">
  <div class="col-12 px-3">
    <div class="row mb-4">
      <a class="col text-center link-underline link-underline-opacity-0 position-relative" *for="menu of menu.main">
        <span class="d-block fs-1 mt-2"><i attr-class="'bi-'+menu.iconClass"></i></span>
        ${menu.label} <span *if="notif[menu.badge]" class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
          ${notif[menu.badge]}</span>
      </a>
    </div>
    <hr/>
    <div class="row gy-4">
      <a class="col-4 text-center link-underline link-underline-opacity-0" *for="menu of menu.others">
        <span class="d-block fs-1">
          <i attr-class="'bi-' + menu.iconClass"></i>
        </span> ${:menu.label} <span class="new badge red" *if="menu.hasLabel && notif.coins">${notif.coins}</span>
      </a>
    </div>
    <hr/>

    <div class="row">
      <a class="col text-center link-underline link-underline-opacity-0" *for="menu of menu.bottom">
        <span class="d-block fs-1">
          <i attr-class="'bi-' + menu.iconClass"></i>
        </span> ${:menu.label}
      </a>
    </div>
  </div>
</div>